:root {
  --white: #FAFAFA;
  --blue-primary: #0077C0;
  --blue-secondary: #C7EEFF;
  --black: #1D242B;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: var(--white);
  color: var(--black)
}

body {
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
}

hr {
  opacity: 0.5;
}