---
import ProjectEntry from "../components/ProjectEntry.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "My Projects"
---

<BaseLayout pageTitle={pageTitle}>
<h1>Projects</h1>
<ProjectEntry name="Tracking and Mapping Endangered Species" src="../../public/images/heatmap-preview.png" href="https://github.com/pat2903/Hack-The-Burgh-2023" desc="TODO"/>
<ProjectEntry name="HTTP Server" src="../../public/images/http-server-img.png" href="https://github.com/aroch17/http-server" desc="TODO"/>
<ProjectEntry name="Worldle Clone" src="../../public/images/wordle-clone.png" href="https://github.com/aroch17/wordle-clone" desc="TODO"/>
</BaseLayout>