---
const { post } = Astro.props
---
<div class="blog-entry">
  <a href={post.url}>{post.frontmatter.title}</a>
  <p class="desc">{post.frontmatter.description}</p>
  <p class="date">Published on: {post.frontmatter.pubDate.toString()}</p>
</div>

<style>
  .blog-entry {
    margin-bottom: 1rem;
  }
  
  p {
    margin: 0;
  }

  .date {
    font-size: 1rem;
    font-weight: 100;
  }

  .desc {
    font-style: italic;
    font-size: 1.125rem;
    margin-bottom: 0.05rem;
  }

  @media screen and (max-width: 425px) {
    a {
      font-size: 0.9rem;
    }

    .desc {
      font-size: 0.75rem;
    }

    .date {
      font-size: 0.5rem;
    }
  }
</style>