---

---

<div class="footer">
  <hr>
  <div class="text">
    <p>Copyright © 2025 | All rights reserved.</p>
    <p>Made with <a href="https://astro.build/" target="_blank">Astro</a>, designed using <a href="https://astro-paper.pages.dev/" target="_blank">AstroPaper</a></p>
  </div>
</div>

<style>
  .text {
    display: flex;
    justify-content: space-between;
  }

  .text a {
    color: var(--black);
    font-size: 1rem;
  }

  .text a::after {
    background-color: var(--black);
  }
</style>