---
import Navigation from "./Navigation.astro";
---

<div class="header">
  <a href="/" class="head-title">AyushR.dev</a>
  <Navigation />
</div>
<hr>

<style>
  .header {
    display: flex;
    justify-content: space-between;
  }

  .head-title {
    color: var(--black);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
  }
</style>

