---
---

<h1>Hey There! <span style='font-size:45px;'>&#128075;</span></h1>
<p class="desc">I am a Computer Science student with a strong foundation in full-stack development, systems programming, and
  collaborative problem-solving skills, proven through successful implementation of complex systems including Linux kernel
  modules and real-time data applications.</p>
<p>You can read my dev journal <a href="/blog/">here</a> or check out my <a href="/projects/">previous projects</a>.</p>
<p>I'd love to connect! TODO: Add icons for socials</p>
<hr>

<style>
	h1 {
		font-size: 2.5rem;
    margin-bottom: 0;
	}

	p {
		font-size: 1.25rem;
		line-height: 1.25;
	}

  .desc {
    margin-top: 1rem;
  }
</style>