---
import Icon from "./Icon.astro";

---

<h1>Hey There! <span style='font-size:45px;'>&#128075;</span></h1>
<p class="desc">I am a Computer Science student with a strong foundation in full-stack development, systems programming, and
  collaborative problem-solving skills, proven through successful implementation of complex systems including Linux kernel
  modules and real-time data applications.</p>
<p>You can read my dev journal <a href="/blog/">here</a> or check out my <a href="/projects/">previous projects</a> here.</p>
<div class="icons-bar">
	<p>I'd love to connect!</p>
	<Icon href="https://github.com/aroch17" name="Github Icon" src="../icons/github-icon.png" height="35px" width="35px" new_page="true" animate="true"/>
	<Icon href="https://www.linkedin.com/in/ayush-rochlani/" name="LinkedIn Icon" src="../icons/linkedin-icon.png" height="30px" width="30px" new_page="true" animate="true"/>
	<Icon href="mailto:ayushrochlani0405@gmail.com" name="Email Icon" src="../icons/email-icon.png" height="35px" width="35px" new_page="true" animate="true"/>
</div>

<style>
	h1 {
		font-size: 2.5rem;
    margin-bottom: 0;
	}

	p {
		font-size: 1.25rem;
		line-height: 1.25;
	}

  .desc {
    margin-top: 1rem;
  }

	.icons-bar {
		display: flex;
		align-items: center;
	}
</style>