---
import Icon from "./Icon.astro";

---

<h1>Hey There! <span>&#128075;</span></h1>
<p class="desc">I am a full-stack software developer with an interest in System Design and Security.</p>
<p>You can learn more about me <a href="/about/">here</a>, or read my <a href="/blog/">dev journal</a> or check out my <a href="/projects/">previous projects</a>.</p>
<div class="icons-bar">
	<p>I'm always up for a chat! Connect with me here:</p>
	<Icon href="https://github.com/aroch17" name="Github Icon" src="../icons/github-icon.png" height="35px" width="35px" new_page="true" animate="true" resize="true"/>
	<Icon href="https://www.linkedin.com/in/ayush-rochlani/" name="LinkedIn Icon" src="../icons/linkedin-icon.png" height="30px" width="30px" new_page="true" animate="true" resize="true"/>
	<Icon href="mailto:ayushrochlani0405@gmail.com" name="Email Icon" src="../icons/email-icon.png" height="35px" width="35px" new_page="true" animate="true" resize="true"/>
</div>

<style>
	h1 {
		font-size: 2.5rem;
    margin-bottom: 0;
	}

	p {
		font-size: 1.25rem;
		line-height: 1.25;
		margin: 0;
	}

  .desc {
    margin-top: 1rem;
  }

	.icons-bar {
		display: flex;
		align-items: center;
	}

	a {
		margin: 0;
	}

	span {
		font-size: 45px;
	}

	@media screen and (max-width:425px) {
		h1 {
			font-size: 1.5rem;
		}

		span {
			font-size: 25px;
		}

		p, a {
			font-size: 0.75rem;
		}
	}
</style>